{% extends 'base.html' %}

{% block body %}

<div style="padding: 10px;">
    <select id="opt-select" class="form-select" aria-label="Como você quer adicionar so produtos?" onchange="onChangeSelect(this.id)">
        <option selected value="selecione">Selecione</option>
        <option value="mais-vendidos">Mais vendidos de uma categoria</option>
        <option value="pesquisando">Pesquisando</option>
        <option value="por-link">Por link do anúncio</option>
    </select>

</div>

<div id="div-principal" style="padding: 10px;">
</div>

<script>
    function onChangeSelect(elem_id) {
        var optSelect = document.getElementById("opt-select");
        var divPrincipal = document.getElementById("div-principal");
        var hier = document.getElementsByClassName("select-categ");

        if (elem_id === "opt-select") {
            divPrincipal.innerHTML = ``;
        } else if (elem_id.includes("categ-MLB")) {

            var tmpSelect = document.querySelector('#'+elem_id);

            for (var count = hier.length; count > 0; count--) {
                var slct = document.querySelector('#'+hier[count-1].id);
                if (slct.attributes.getNamedItem("hier").value > tmpSelect.attributes.getNamedItem("hier").value) {
                    slct.remove();
                }
            }

            tmpSelect.id = "categ-atual";
        }

        if (optSelect.value === "selecione") {
            //divPrincipal.innerHTML = ``;
        } else if (optSelect.value === "mais-vendidos") {
            var categId = "";
            if (document.getElementById("categ-atual")) {
                var categAtual = document.getElementById("categ-atual");

                categId = categAtual.value;

                categAtual.id = "categ-"+categId;

            }

            if (categId.includes("pare-aqui-")) {

                load_products(categId.split("-")[2]);

            } else {
                var loading = document.createElement("div");
                loading.className = "spinner-border text-primary";
                loading.setAttribute("role", "status");
                loading.innerHTML = `<span class="visually-hidden">Loading...</span>`;
                divPrincipal.appendChild(loading);

                var select = document.createElement("select");
                select.id = "categ-atual";
                select.className = "form-select select-categ";
                select.setAttribute("aria-label", "Selecione a categoria");
                select.setAttribute("onchange", "onChangeSelect(this.id)");
                select.setAttribute("hier", hier.length+1);

                var option = document.createElement("option");
                option.value = "selecione";
                option.textContent = "Selecione";
                option.selected = true;
                select.appendChild(option);

                if (categId !== "") {
                    var option = document.createElement("option");
                    option.value = "pare-aqui-"+categId;
                    option.textContent = "Pare aqui";
                    select.appendChild(option);
                }

                var xhr = new XMLHttpRequest();
                if (categId === "") {
                    xhr.open("GET", "{{ base_url }}/api/v1/meli/categoria/todas", true);
                } else {
                    xhr.open("GET", "{{ base_url }}/api/v1/meli/categoria?id="+categId, true);
                }
                //xhr.open("GET", "{{ base_url }}/api/v1/meli/categoria?id="+categId, true);
                xhr.setRequestHeader("x-access-token", getCookie("token"));
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText).result;
                        // Manipulate response data here
                        if (categId === "") {
                            var filhos = response;
                        } else {
                            var filhos = response.children_categories;
                        }
                        //var filhos = response.children_categories;

                        if (filhos.length === 0) {
                            loading.remove();
                            load_products(categId);
                        } else {

                            for (var filho in filhos) {
                                var filho = filhos[filho];
                                var option = document.createElement("option");
                                option.value = filho.id;
                                option.textContent = filho.name;
                                select.appendChild(option);
                            }
    
                            loading.remove();
    
                            divPrincipal.appendChild(select);
                        }
                        
                    }
                };
                xhr.send();
            }


            //divPrincipal.innerHTML = ``;
        } else if (optSelect.value === "pesquisando") {
            divPrincipal.innerHTML = ``;
        }
    }

    async function add_product(tbody, produto) {
        //var tr = document.createElement("tr");

        var tbodyy = document.querySelector("tbody");

        //"%Y-%m-%dT%H:%M:%S.%fZ"
        var data_criacao = new Date(produto.date_created);
        var data_atual = new Date();
        var tempo_vida = Math.round((data_atual - data_criacao) / (1000 * 60 * 60 * 24))
        var visitas_totais = 0;
        for (var i = 0; i < produto.visitas.length; i++) {
            visitas_totais += produto.visitas[i];
        }
        var media_visitas = (visitas_totais / produto.visitas.length).toFixed();
        tbodyy.innerHTML += `
        <tr>
            <td><a href="${produto.permalink}" target="_blank">Ver</a></td>
            <td><img src="${produto.pictures[0].secure_url}" alt="Imagem do produto" width="70" height="70"></td>
            <td>${produto.title}</td>
            <td>${produto.price}</td>
            <td>${tempo_vida} dias</td>
            <td>${produto.range_vendas}</td>
            <td>${((produto.range_vendas/tempo_vida)*30).toFixed()}</td>
            <td>${media_visitas}</td>
            <td><button type="button" class="btn btn-primary" onclick="addProduct(${produto.id})">Adicionar</button></td>
        </tr>
        `;

        //tbodyy.innerHTML += tr.outerHTML;
    }

    function load_products(valor) {
        var divPrincipal = document.getElementById("div-principal");

        var loading = document.createElement("div");
        loading.className = "spinner-border text-primary";
        loading.setAttribute("role", "status");
        loading.innerHTML = `<span class="visually-hidden">Loading...</span>`;
        divPrincipal.appendChild(loading);

        var table = document.createElement("table");
        table.className = "table table-striped";
        table.innerHTML = `
            <thead>
                <tr>
                    <th scope="col">Ver</th>
                    <th scope="col">Imagem</th>
                    <th scope="col">Título</th>
                    <th scope="col">Preço venda</th>
                    <th scope="col">Tempo vida</th>
                    <th scope="col">Range vendas</th>
                    <th scope="col">Vendas mês</th>
                    <th scope="col">Visitas diarias</th>
                    <th scope="col">Variação visitas</th>
                    <th scope="col">Adicionar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        `;
        
        divPrincipal.appendChild(table);

        tbody = table.querySelector("tbody");

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{{ base_url }}/api/v1/pesquisa_mercado/maisvendidos/"+valor+"?pesquisa={{ id_pesquisa }}", true);
        xhr.setRequestHeader("x-access-token", getCookie("token"));
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText).result;
                // Manipulate response data here
                var produtos = response.content;

                for (var produto in produtos) {
                    var xhrp = new XMLHttpRequest();
                    xhrp.open("GET", "{{ base_url }}/api/v1/meli/anuncio/"+produtos[produto].id+"?range_vendas=true&visitas=30", false);
                    xhrp.setRequestHeader("x-access-token", getCookie("token"));
                    xhrp.onreadystatechange = function() {
                        if (xhrp.readyState === 4 && xhrp.status === 200) {
                            var response = JSON.parse(xhrp.responseText).result;
                            // Manipulate response data here
                            var produto = response;

                            add_product(tbody, produto);

                        }
                    };
                    xhrp.send();
                }

                loading.remove();
            }
        };
        xhr.send();
    }
</script>

{% endblock %}