{% extends 'base.html' %}

{% block body %}

<div style="padding: 10px;">

    <h1 id="h1_titulo">Adicionar produtos a pesquisa de mercado</h1>

    <select id="opt-select" class="form-select" aria-label="Como você quer adicionar so produtos?" onchange="onChangeSelect(this.id)">
        <option selected value="selecione">Selecione</option>
        <option value="mais-vendidos">Mais vendidos de uma categoria</option>
        <option value="pesquisando">Pesquisando</option>
        <option value="por-link">Por link do anúncio</option>
    </select>

</div>

<div id="div-principal" style="padding: 10px;">
</div>

<script>

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ base_url }}/api/v1/pesquisa_mercado?pesquisa={{ id_pesquisa }}', true);
    xhr.setRequestHeader('x-session-id', '{{ session_id }}');
    xhr.setRequestHeader('x-remote-adr', '{{ remote_adr }}');;
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var pesquisa = JSON.parse(xhr.responseText).result;

                var h1_titulo = document.getElementById('h1_titulo');
                h1_titulo.textContent += " - "+pesquisa['nome'];
            }
        }
    };
    xhr.send();

    // Cria o web worker
    var worker = new Worker("{{ url_for('static', filename='js/web_worker.js') }}");

    // Diz o que fazer quando o web worker enviar uma mensagem
    worker.addEventListener('message', function(e) {
        var dados = e.data;
        if (dados.funcao === "add_products") {
            var tbodyy = document.querySelector("tbody");
            var tr = document.createElement("tr");
            tr.id = dados.id;
            tr.innerHTML = dados.innerhtml;
            tbodyy.appendChild(tr);
            //tbodyy.innerHTML += dados.resultado;
        }
    });


    function onChangeSelect(elem_id) {
        var optSelect = document.getElementById("opt-select");
        var divPrincipal = document.getElementById("div-principal");
        var hier = document.getElementsByClassName("select-categ");

        if (elem_id === "opt-select") {
            divPrincipal.innerHTML = ``;
            worker.terminate();
            worker = new Worker("{{ url_for('static', filename='js/web_worker.js') }}");

            worker.addEventListener('message', function(e) {
                var dados = e.data;
                if (dados.funcao === "add_products") {
                    var tbodyy = document.querySelector("tbody");
                    var tr = document.createElement("tr");
                    tr.id = dados.id;
                    tr.innerHTML = dados.innerhtml;
                    tbodyy.appendChild(tr);
                }
            });
        } else if (elem_id.includes("categ-MLB") || elem_id === "categ-selecione") {

            var categAt = document.getElementById("categ-atual");

            var tmpSelect = document.querySelector('#'+elem_id);

            for (var count = hier.length; count > 0; count--) {
                var slct = document.querySelector('#'+hier[count-1].id);
                if (slct.attributes.getNamedItem("hier").value > tmpSelect.attributes.getNamedItem("hier").value) {
                    slct.remove();
                }
            }

            var table = document.querySelector("table");
            if (table) {
                table.remove();
            }
            var button = document.querySelector("button");
            if (button) {
                button.remove();
            }
            // remove all loadings
            var all_loadings = divPrincipal.querySelectorAll('.spinner-border');
            for (var i = 0; i < all_loadings.length; i++) {
                all_loadings[i].remove();
            }
            worker.terminate();
            worker = new Worker("{{ url_for('static', filename='js/web_worker.js') }}");

            worker.addEventListener('message', function(e) {
                var dados = e.data;
                if (dados.funcao === "add_products") {
                    var tbodyy = document.querySelector("tbody");
                    var tr = document.createElement("tr");
                    tr.id = dados.id;
                    tr.innerHTML = dados.innerhtml;
                    tbodyy.appendChild(tr);
                }
            });

            tmpSelect.id = "categ-atual";

        }

        if (optSelect.value === "selecione") {
            divPrincipal.innerHTML = ``;
        } else if (optSelect.value === "mais-vendidos") {
            var categId = "";
            if (document.getElementById("categ-atual")) {
                if (document.getElementById("categ-atual").value !== "selecione") {
                    var categAtual = document.getElementById("categ-atual");
    
                    categId = categAtual.value;
    
                    categAtual.id = "categ-"+categId;
                } else {
                    categId = "selecione";
                }
            }

            if (categId.includes("pare-aqui-")) {

                load_products(categId.split("-")[2]);

            } else if (categId !== "selecione") {
                var loading = document.createElement("div");
                loading.className = "spinner-border text-primary";
                loading.setAttribute("role", "status");
                loading.innerHTML = `<span class="visually-hidden">Loading...</span>`;
                divPrincipal.appendChild(loading);
                
                var xhr = new XMLHttpRequest();
                if (categId === "") {
                    xhr.open("GET", "{{ base_url }}/api/v1/meli/categoria/todas", true);
                } else {
                    xhr.open("GET", "{{ base_url }}/api/v1/meli/categoria?id="+categId, true);
                }
                //xhr.open("GET", "{{ base_url }}/api/v1/meli/categoria?id="+categId, true);
                xhr.setRequestHeader('x-session-id', '{{ session_id }}');
                xhr.setRequestHeader('x-remote-adr', '{{ remote_adr }}');;
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Manipulate response data here
                        if (categId === "") {
                            var response = JSON.parse(xhr.responseText).result;
                            var filhos = response;
                        } else {
                            var response = JSON.parse(xhr.responseText).result[0].json;
                            var filhos = response.children_categories;
                        }
                        //var filhos = response.children_categories;
                        
                        if (filhos.length === 0) {
                            loading.remove();
                            load_products(categId);
                        } else {
                            var select = document.createElement("select");
                            select.id = "categ-atual";
                            select.className = "form-select select-categ";
                            select.setAttribute("aria-label", "Selecione a categoria");
                            select.setAttribute("onchange", "onChangeSelect(this.id)");
                            select.setAttribute("hier", hier.length+1);
            
                            var option = document.createElement("option");
                            option.value = "selecione";
                            option.textContent = "Selecione";
                            option.selected = true;
                            select.appendChild(option);
            
                            if (categId !== "") {
                                var option = document.createElement("option");
                                option.value = "pare-aqui-"+categId;
                                option.textContent = "Pare aqui";
                                select.appendChild(option);
                            }
                            
                            for (var filho in filhos) {
                                var filho = filhos[filho];
                                var option = document.createElement("option");
                                option.value = filho.id;
                                option.textContent = filho.name;
                                select.appendChild(option);
                            }
    
                            loading.remove();
    
                            divPrincipal.appendChild(select);
                        }
                        
                    }
                };
                xhr.send();
            }


            //divPrincipal.innerHTML = ``;
        } else if (optSelect.value === "pesquisando") {
            //divPrincipal.innerHTML = ``;
            //<div id="pesquisa" class="input-group mb-3">
            //    <input id="input_search" type="text" class="form-control" placeholder="Pesquise pelo produto" aria-label="Pesquise pelo produto" aria-describedby="button-search">
            //    <button class="btn btn-outline-secondary" type="button" id="button-search" onclick="load_produtos()">Pesquisar</button>
            //</div>
            var div = document.createElement("div");
            div.id = "pesquisa";
            div.className = "input-group mb-3";
            div.innerHTML = `
                <input id="input_search" type="text" class="form-control" placeholder="Pesquise pelo produto" aria-label="Pesquise pelo produto" aria-describedby="button-search">
                <button class="btn btn-outline-secondary" type="button" id="button-search" onclick="pesquisar_produto()">Pesquisar</button>
            `;
            divPrincipal.appendChild(div);
        } else if (optSelect.value === "por-link") {
            var div = document.createElement("div");
            div.id = "pesquisa";
            div.className = "input-group mb-3";
            div.innerHTML = `
                <input id="input_search" type="text" class="form-control" placeholder="https://produto.mercadolivre.com.br/MLB-2222222222-titulo-do-produto-_JM" aria-label="Cole o link do anúncio" aria-describedby="button-search">
                <button class="btn btn-outline-secondary" type="button" id="button-search" onclick="add_product()">Pesquisar</button>
            `;
            divPrincipal.appendChild(div);

            load_products();
        }
    }

    function pesquisar_produto() {

        // apagar todas as tabelas e botoes
        var all_tables = document.querySelectorAll("table");
        for (var i = 0; i < all_tables.length; i++) {
            all_tables[i].remove();
        }
        var all_buttons = document.querySelectorAll(".addbutton");
        for (var i = 0; i < all_buttons.length; i++) {
            all_buttons[i].remove();
        }
        var all_loadings = document.querySelectorAll('.spinner-border');
        for (var i = 0; i < all_loadings.length; i++) {
            all_loadings[i].remove();
        }
        worker.terminate();
        worker = new Worker("{{ url_for('static', filename='js/web_worker.js') }}");

        worker.addEventListener('message', function(e) {
            var dados = e.data;
            if (dados.funcao === "add_products") {
                var tbodyy = document.querySelector("tbody");
                var tr = document.createElement("tr");
                tr.id = dados.id;
                tr.innerHTML = dados.innerhtml;
                tbodyy.appendChild(tr);
            }
        });

        load_products();

    }

    function add_product() {

        var inpuSearch = document.getElementById("input_search");

        var link = inpuSearch.value;

        if (link !== "") {

            var xhrlk = new XMLHttpRequest();
            xhrlk.open("GET", "{{ base_url }}/api/v1/meli/anuncio/pegarmlb?link="+link, true);
            xhrlk.setRequestHeader('x-session-id', '{{ session_id }}');
            xhrlk.setRequestHeader('x-remote-adr', '{{ remote_adr }}');
            xhrlk.onreadystatechange = function() {
                if (xhrlk.readyState === 4) {
                    if (xhrlk.status === 200){
                        var response = JSON.parse(xhrlk.responseText).result;

                        if (document.getElementById(response)) {
                            toast("Pesquisa", "Produto já adicionado", "Agora");
                        } else {

                            var produtos = [{'id': response}];
        
                            console.log(produtos);
        
                            worker.postMessage({ funcao:"add_products", valor:[produtos, '{{ session_id }}', '{{ remote_adr }}', "{{ base_url }}"] }); // assíncrono - retorna imediatamente

                            inpuSearch.value = "";
                        }
                    } else {
                        toast("Pesquisa", "Erro ao buscar anúncio", "Agora");
                    }

                }
            };
            xhrlk.send();

        } else {
            toast("Link vazio");
        }

    }

    function add_products() {
        var tbody = document.querySelector("tbody");

        var all_trs = tbody.querySelectorAll("tr");

        var produtos = []
        var categorias = []
        var range_vendas = []
        var tempo_vida = []
        var m_visitas_diarias = []
        var preco_venda = []
        var tipo_anuncio = []
        var taxa_fixa = []
        var comissao = []
        var titulo = []
        var link = []
        var frete_gratis = []
        var custo_frete = []
        for (var i = 0; i < all_trs.length; i++) {
            var adc_product = all_trs[i].querySelector("#"+all_trs[i].id+"-adicionar");
            if (adc_product.querySelector("input").checked && !(all_trs[i].querySelector("#"+all_trs[i].id+"-titulo").textContent.includes("catálogo"))) {
                var infos = all_trs[i].querySelector("#infos");
                produtos.push(all_trs[i].id);
                categorias.push(infos.attributes.getNamedItem("categoria").value);
                range_vendas.push(all_trs[i].querySelector("#"+all_trs[i].id+"-range_vendas").textContent);
                tempo_vida.push((all_trs[i].querySelector("#"+all_trs[i].id+"-tempo_vida").textContent).replace(" dias", ""));
                m_visitas_diarias.push(all_trs[i].querySelector("#"+all_trs[i].id+"-visitas_dia").textContent);
                preco_venda.push(all_trs[i].querySelector("#"+all_trs[i].id+"-preco").textContent);
                tipo_anuncio.push(infos.attributes.getNamedItem("tipo_anuncio").value);
                taxa_fixa.push(infos.attributes.getNamedItem("taxa_fixa").value);
                comissao.push(infos.attributes.getNamedItem("comissao").value);
                titulo.push(all_trs[i].querySelector("#"+all_trs[i].id+"-titulo").textContent);
                link.push(all_trs[i].querySelector("#"+all_trs[i].id+"-link").querySelector("a").href);
                frete_gratis.push(infos.attributes.getNamedItem("frete_gratis").value);
                custo_frete.push(infos.attributes.getNamedItem("custo_frete").value);
            }
        }
        data = {
            "produtos": produtos,
            "categorias": categorias,
            "range_vendas": range_vendas,
            "tempo_vida": tempo_vida,
            "m_visitas_diarias": m_visitas_diarias,
            "preco_venda": preco_venda,
            "tipo_anuncio": tipo_anuncio,
            "taxa_fixa": taxa_fixa,
            "comissao": comissao,
            "titulo": titulo,
            "link": link,
            "frete_gratis": frete_gratis,
            "custo_frete": custo_frete
        }

        var xhrap = new XMLHttpRequest();
        xhrap.open("POST", "{{ base_url }}/api/v1/pesquisa_mercado/anuncios?pesquisa={{ id_pesquisa }}", true);
        xhrap.setRequestHeader("Content-Type", "application/json");
        xhrap.setRequestHeader('x-session-id', '{{ session_id }}');
        xhrap.setRequestHeader('x-remote-adr', '{{ remote_adr }}');
        xhrap.onreadystatechange = function() {
            if (xhrap.readyState === 4 && xhrap.status === 200) {
                var response = JSON.parse(xhrap.responseText).result;
                // Manipulate response data here
                toast("Análise de mercado", "Produtos adicionados", "Agora");
            }
        };
        xhrap.send(JSON.stringify(data));
    }

    function load_products(valor="") {

        var optSelect = document.getElementById("opt-select");

        var divPrincipal = document.getElementById("div-principal");

        var loading = document.createElement("div");
        loading.className = "spinner-border text-primary";
        loading.setAttribute("role", "status");
        loading.innerHTML = `<span class="visually-hidden">Loading...</span>`;
        divPrincipal.appendChild(loading);

        var table = document.createElement("table");
        table.className = "table table-striped";
        table.innerHTML = `
            <thead>
                <tr>
                    <th scope="col">Ver</th>
                    <th scope="col">Imagem</th>
                    <th scope="col">Título</th>
                    <th scope="col">Preço venda</th>
                    <th scope="col">Tempo vida</th>
                    <th scope="col">Range vendas</th>
                    <th scope="col">Vendas mês</th>
                    <th scope="col">Visitas diarias</th>
                    <th scope="col">Variação visitas</th>
                    <th scope="col">Adicionar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        `;
        
        divPrincipal.appendChild(table);

        var divBtn = document.createElement("div");
        divBtn.className = "d-grid gap-2";
        
        var button = document.createElement("button");
        button.className = "btn btn-primary addbutton";
        button.type = "button";
        button.textContent = "Adicionar todos";
        button.setAttribute("onclick", "add_products()");
        
        divBtn.appendChild(button);

        divPrincipal.appendChild(divBtn);

        tbody = table.querySelector("tbody");

        if (optSelect.value !== "por-link") {

            var xhr = new XMLHttpRequest();
            if (optSelect.value === "mais-vendidos") {
                xhr.open("GET", "{{ base_url }}/api/v1/pesquisa_mercado/maisvendidos/"+valor+"?pesquisa={{ id_pesquisa }}", true);
            } else if (optSelect.value === "pesquisando") {
                xhr.open("GET", "{{ base_url }}/api/v1/meli/anuncio/pesquisar?q="+document.getElementById("input_search").value, true);
            }
            //xhr.open("GET", "{{ base_url }}/api/v1/pesquisa_mercado/maisvendidos/"+valor+"?pesquisa={{ id_pesquisa }}", true);
            xhr.setRequestHeader('x-session-id', '{{ session_id }}');
            xhr.setRequestHeader('x-remote-adr', '{{ remote_adr }}');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText).result;
                    // Manipulate response data here
                    if (optSelect.value === "mais-vendidos") {
                        var produtos = response.content;
                    } else if (optSelect.value === "pesquisando") {
                        var produtos = response.results;
                    }
                    //var produtos = response.content;


                    //add_products(produtos);
                    worker.postMessage({ funcao:"add_products", valor:[produtos, '{{ session_id }}', '{{ remote_adr }}', "{{ base_url }}"] }); // assíncrono - retorna imediatamente


                    loading.remove();
                }
            };
            xhr.send();

        } else {
            loading.remove();
        }
    }


</script>

{% endblock %}