{% extends 'base.html' %}

{% block head %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

<!-- MDB -->

<h1>Produto</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tabgraf active" aria-current="page" data-toggle="#detalhes" onclick="changeTab(event)">Detalhes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#graficos" onclick="changeTab(event)">Gráficos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf disabled" data-toggle="#regras" onclick="changeTab(event)" aria-disabled="true">Regras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#qualidade" onclick="changeTab(event)">Qualidade</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf disabled" data-toggle="#anotacoes" onclick="changeTab(event)" aria-disabled="true">Anotações</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#historico" onclick="changeTab(event)">Histórico</a>
    </li>
</ul>

<div class="tab-content">
    <div id="detalhes" class="tab-pane fade active show" style="width: 100%;">
        <div id="div_detalhes" style="padding: 10px;">
        </div>

        <script>
            var base_url = '{{ base_url }}';
            var mlb = '{{ mlb }}';

            var xhr = new XMLHttpRequest();
            xhr.open('GET', base_url+'/api/v1/produto/'+mlb, true);
            xhr.setRequestHeader('x-access-token', getCookie('token'));
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var produtoAtual = JSON.parse(xhr.responseText).result;
                    
                    div_det = document.getElementById('div_detalhes');

                    var p_frete_gratis = document.createElement('p');
                    var p_liquido = document.createElement('p');
                    var p_mlb = document.createElement('p');
                    var p_titulo = document.createElement('p');
                    var p_categoria = document.createElement('p');
                    var p_status = document.createElement('p');
                    var p_preco_venda = document.createElement('p');
                    var p_tipo_anuncio = document.createElement('p');
                    var p_custo_frete = document.createElement('p');
                    var p_taxas_venda = document.createElement('p');
                    var p_vendas = document.createElement('p');

                    var dict_free_shipping = {
                        '1': 'Sim',
                        '0': 'Não'
                    };

                    var statusDict = {
                        "active": "Ativo",
                        "paused": "Pausado",
                        "under_review": "Em revisão"
                    };

                    var dict_listing = {
                        'gold_pro': 'Premium',
                        'gold_premium': 'Diamante',
                        'gold_special': 'Clássico',
                        'gold': 'Ouro',
                        'silver': 'Prata',
                        'bronze': 'Bronze',
                        'free': 'Gratuíto',
                    };

                    p_frete_gratis.textContent = 'Frete grátis: ' + dict_free_shipping[produtoAtual.free_shipping];
                    p_liquido.textContent = 'Líquido: R$ ' + (produtoAtual.sale_fee - produtoAtual.shipping_free_cost - produtoAtual.cost).toFixed(2).replace('.', ',');
                    p_mlb.textContent = 'MLB: ' + produtoAtual.id;
                    p_titulo.textContent = 'Título: ' + produtoAtual.title;
                    p_categoria.textContent = 'Categoria: ' + produtoAtual.category.way + ' (' + produtoAtual.category_id + ')';
                    p_status.textContent = 'Status: ' + statusDict[produtoAtual.status];
                    p_preco_venda.textContent = 'Preço de venda: R$ ' + produtoAtual.price;
                    p_tipo_anuncio.textContent = 'Tipo de anúncio: ' + dict_listing[produtoAtual.listing_type_id];
                    p_custo_frete.textContent = 'Custo de frete: R$ ' + produtoAtual.shipping_free_cost;
                    p_taxas_venda.textContent = 'Taxas de venda: R$' + produtoAtual.sale_fee;
                    p_vendas.textContent = 'Vendas: ' + produtoAtual.sales;


                    div_det.appendChild(p_frete_gratis);
                    div_det.appendChild(p_liquido);
                    div_det.appendChild(p_mlb);
                    div_det.appendChild(p_titulo);
                    div_det.appendChild(p_categoria);
                    div_det.appendChild(p_status);
                    div_det.appendChild(p_preco_venda);
                    div_det.appendChild(p_tipo_anuncio);
                    div_det.appendChild(p_custo_frete);
                    div_det.appendChild(p_taxas_venda);
                    div_det.appendChild(p_vendas);

                    /////////////////////////////////////////////////////////////

                    var tags = produtoAtual.tags.toString().slice(1, -1).replace(/'/g, '').replace(/ /g, '').split(",");

                    var tabela_qualidade = document.getElementById('tabela_qualidade');
                    tabela_qualidade.innerHTML = "";

                    for (var tag in tags) {
                        var tag = tags[tag];

                        tabela_qualidade.innerHTML += '<li class="list-group-item">'+tag+'</li>';
                    }
                }
            }
            xhr.send();
        </script>
    </div>
    <div id="graficos" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
        <div style="padding: 10px;">
            <div class="col-auto">
                <span>Período analisado</span>
                <select id="filtro_data" class="form-select" aria-label="Período analisado" onchange="dt_change()">
                    <option selected value="Última semana">Última semana</option>
                    <option value="Último mês">Último mês</option>
                    <option value="Últimos 2 meses">Últimos 2 meses</option>
                    <option value="Últimos 3 meses">Últimos 3 meses</option>
                    <option value="Personalizado">Personalizado</option>
                </select>
            </div>

            <div id="datepickers" class="container" style="padding: 10px;">
                <div class="row">
                    <div id="start-datepicker" class="col">
                    </div>
                    <div id="end-datepicker" class="col">
                    </div>
                </div>
            </div>

            <div id="grafico" style="padding: 10px;">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border m-5" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <script>

            function dt_change() {
                var periodo = document.getElementById('filtro_data').value;

                var startdatepicker = document.getElementById('start-datepicker');
                var enddatepicker = document.getElementById('end-datepicker');

                if (periodo !== 'Personalizado') {
                    startdatepicker.innerHTML = '';
                    enddatepicker.innerHTML = '';
                    load_grafico_conversao();

                } else {

                    
                    //var date = new Date();
                    //var today = date.toISOString().split('T')[0];
                    //var last = new Date(date.getTime() - (dias * 24 * 60 * 60 * 1000)).toISOString().split('T')[0];

                    lbStart = document.createElement('span');
                    lbEnd = document.createElement('span');
                    dpStart = document.createElement('div');
                    dpEnd = document.createElement('div');

                    lbStart.textContent = 'De';
                    lbEnd.textContent = 'Até';
                
                    dpStart.innerHTML = '<input id="datepickerStart" onchange="load_grafico_conversao()"/><script>var today = new Date().toLocaleDateString("pt-BR").split("/").join("/");var last = new Date(new Date().getTime() - (150 * 24 * 60 * 60 * 1000)).toLocaleDateString("pt-BR").split("/").join("/");var lastWeek = new Date(new Date().getTime() - (7 * 24 * 60 * 60 * 1000)).toLocaleDateString("pt-BR").split("/").join("/");$("#datepickerStart").datepicker({uiLibrary: "bootstrap5",format: "dd/mm/yyyy",minDate: last,maxDate: today, value: lastWeek});<'+"/script>";
                    dpEnd.innerHTML = '<input id="datepickerEnd" onchange="load_grafico_conversao()"/><script>var today = new Date().toLocaleDateString("pt-BR").split("/").join("/");var last = new Date(new Date().getTime() - (150 * 24 * 60 * 60 * 1000)).toLocaleDateString("pt-BR").split("/").join("/");var lastWeek = new Date(new Date().getTime() - (7 * 24 * 60 * 60 * 1000)).toLocaleDateString("pt-BR").split("/").join("/");$("#datepickerEnd").datepicker({uiLibrary: "bootstrap5",format: "dd/mm/yyyy",minDate: last,maxDate: today, value: today});<'+"/script>";
                    
                    startdatepicker.appendChild(lbStart);
                    startdatepicker.appendChild(dpStart);
                    enddatepicker.appendChild(lbEnd);
                    enddatepicker.appendChild(dpEnd);
                    rodarScripts(document.getElementById('datepickers'));
                }
            };

            function load_grafico_conversao() {

                tempo_opcoes = {
                    "Última semana": {'dias': 7, 'intervalo': 1},
                    "Último mês": {'dias': 30, 'intervalo': 10},
                    "Últimos 2 meses": {'dias': 60, 'intervalo': 30},
                    "Últimos 3 meses": {'dias': 90, 'intervalo': 30},
                    "Personalizado": {}
                };

                var ft_data = document.getElementById('filtro_data');
                var dv_grafico = document.getElementById('grafico');

                dv_grafico.innerHTML = '<div class="d-flex justify-content-center"><div class="spinner-border m-5" role="status"><span class="visually-hidden">Loading...</span></div></div>';

                if (ft_data.value === 'Personalizado') {
                    var partsDS = document.getElementById('datepickerStart').value.split('/');
                    var partsDE = document.getElementById('datepickerEnd').value.split('/');
                    var dateStart = new Date(partsDS[2], partsDS[1] - 1, partsDS[0]);
                    var dateEnd = new Date(partsDE[2], partsDE[1] - 1, partsDE[0]);

                    var dias = ((dateEnd - dateStart) / (1000 * 60 * 60 * 24));
                    console.log(dias)
                    if (dias > 7) {
                        var intervalo = Math.round(dias / 7);
                    } else {
                        var intervalo = 1;
                    }
                    var titulo = 'Conversão de vendas';
                    var final = partsDE.reverse().join('-');

                } else {
                    var dias = tempo_opcoes[ft_data.value]['dias'];
                    var intervalo = tempo_opcoes[ft_data.value]['intervalo'];
                    var titulo = 'Conversão de vendas';
                    var dateOptions = { timeZone: 'America/Sao_Paulo' };
                    var final = new Date().toLocaleDateString("pt-BR", dateOptions);
                    final = final.split('/').reverse().join('-');
                }
                    
                xhr2 = new XMLHttpRequest();
                xhr2.open('GET', base_url+'/api/v1/produto/'+mlb+'/grafico?tipo=conversao&framework=plotly&last='+dias+'&ending='+final+'&intervalo='+intervalo+'&titulo='+titulo, true);
                xhr2.setRequestHeader('x-access-token', getCookie('token'));
                xhr2.onreadystatechange = function() {
                    if (xhr2.readyState === 4 && xhr2.status === 200) {
                        var response = JSON.parse(xhr2.responseText).result;

                        dv_grafico.innerHTML = response.grafico;
                        rodarScripts(dv_grafico)

                        var total_vendas = document.createElement('p');
                        var total_visitas = document.createElement('p');
                        var media_conversao = document.createElement('p');

                        total_vendas.textContent = 'Total de vendas: ' + response.total_vendas;
                        total_visitas.textContent = 'Total de visitas: ' + response.total_visitas;
                        media_conversao.textContent = 'Média de conversão: ' + response.media_conversao;

                        dv_grafico.appendChild(total_vendas);
                        dv_grafico.appendChild(total_visitas);
                        dv_grafico.appendChild(media_conversao);
                    }
                }
                xhr2.send();

            }

            load_grafico_conversao();
        </script>
    </div>
    <div id="regras" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
        <div style="padding: 10px;">
        </div>
    </div>
    <div id="qualidade" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
        <div style="padding: 10px;">
            <h5>Tags do produto</h5>
            <div class="card" style="width: 18rem;">
                <ul id="tabela_qualidade" class="list-group list-group-flush">
                </ul>
            </div>

            <br>
            <br>

            <h5>Sobre as tags</h5>

            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>good_quality_thumbnail</strong>
                        <p>Explicação sobre essa tag.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>extended_warranty_eligible</strong>
                        <p>Produto elegível para garantia extendida.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>immediate_payment</strong>
                        <p>Explicação sobre essa tag.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>cart_eligible</strong>
                        <p>Produto elegível para catálogo.</p>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    <div id="anotacoes" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
        <div style="padding: 10px;">
        </div>
    </div>
    <div id="historico" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">

        <div style="padding: 10px;">

            <select id="filtro_historico" class="form-select" aria-label="Campo" onchange="load_historico()">
                <option selected value="Todos">Todos</option>
            </select>

            <table class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Antes</th>
                        <th>Depois</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="lista_historico">
                </tbody>
            </table>
            
            <script>
                function load_historico() {
                    var tableBody = document.querySelector("#lista_historico");
                    tableBody.innerHTML = "<div class='d-flex justify-content-center'><div class='spinner-border m-5' role='status'><span class='visually-hidden'>Loading...</span></div></div>"; // Clear existing table rows

                    var xhr3 = new XMLHttpRequest();
                    xhr3.open('GET', '{{ base_url }}/api/v1/produto/changes/'+mlb+'?ordened=date', true);
                    xhr3.setRequestHeader('x-access-token', getCookie('token'));
                    xhr3.onreadystatechange = function() {
                        if (xhr3.readyState === 4 && xhr3.status === 200) {
                            var response = JSON.parse(xhr3.responseText).result;
                            tableBody.innerHTML = "";

                            for (var historico in response) {
                                var historico = response[historico];
                                var filtro = document.getElementById('filtro_historico');
                                var ftValue = filtro.value;
                                if (filtro.value === "Todos" || historico.change === filtro.value) {
                                    var row = document.createElement("tr");
                                    var campoCell = document.createElement("td");
                                    var antesCell = document.createElement("td");
                                    var depoisCell = document.createElement("td");
                                    var dataCell = document.createElement("td");

                                    campoCell.textContent = historico.change;
                                    antesCell.textContent = historico.old_value;
                                    depoisCell.textContent = historico.new_value;
                                    dateSplited = historico.date.split('T')[0].split('-');
                                    hour = historico.date.split('T')[1];
                                    dataCell.textContent = dateSplited.reverse().join('/') + ' ' + hour;

                                    row.appendChild(campoCell);
                                    row.appendChild(antesCell);
                                    row.appendChild(depoisCell);
                                    row.appendChild(dataCell);

                                    tableBody.appendChild(row);

                                    if (filtro.value === "Todos" && !filtro.innerHTML.includes(historico.change)) {
                                        filtro.innerHTML += '<option value="'+historico.change+'">'+historico.change+'</option>';
                                    }
                                }
                            }
                        } else {
                            // Handle any errors here
                        }
                    };
                    xhr3.send();
                }

                load_historico();
            </script>
        </div>
    </div>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" onclick="window.location.href='/produtos'">Ver todos os produtos</button>
</div>

<script>
    function changeTab(event) {
        const tabs = document.querySelectorAll('.nav-link.tabgraf');
        const tabContent = document.querySelectorAll('.tab-pane');
        
        tabs.forEach(tab => {
            tab.classList.remove('active');
        });
        
        tabContent.forEach(content => {
            //content.classList.remove('active');
            content.style.height = '0';
            content.style.visibility = 'hidden';
            content.classList.remove('show');
        });
        
        event.target.classList.add('active');
        const targetTab = document.querySelector(event.target.getAttribute('data-toggle'));
        targetTab.classList.add('active');
        targetTab.classList.add('show');
        targetTab.style.height = 'auto';
        targetTab.style.visibility = 'visible';
    }
</script>

{% endblock %}