{% extends 'base.html' %}

{% block body %}

<h1>Produto</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tabgraf active" aria-current="page" data-toggle="#detalhes" onclick="changeTab(event)">Detalhes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#graficos" onclick="changeTab(event)">Gráficos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#regras" onclick="changeTab(event)">Regras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#qualidade" onclick="changeTab(event)">Qualidade</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#anotacoes" onclick="changeTab(event)">Anotações</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabgraf" data-toggle="#historico" onclick="changeTab(event)">Histórico</a>
    </li>
</ul>

<div class="tab-content">
    <div id="detalhes" class="tab-pane fade active show" style="width: 100%;">
        <div id="div_detalhes" style="padding: 10px;">
        </div>

        <script>
            var base_url = '{{ base_url }}';
            var mlb = '{{ mlb }}';

            var xhr = new XMLHttpRequest();
            xhr.open('GET', base_url+'/api/v1/produto/'+mlb, true);
            xhr.setRequestHeader('x-access-token', getCookie('token'));
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText).result;
                    
                    div_det = document.getElementById('div_detalhes');

                    var p_frete_gratis = document.createElement('p');
                    var p_liquido = document.createElement('p');
                    var p_mlb = document.createElement('p');
                    var p_titulo = document.createElement('p');
                    var p_categoria = document.createElement('p');
                    var p_status = document.createElement('p');
                    var p_preco_venda = document.createElement('p');
                    var p_tipo_anuncio = document.createElement('p');
                    var p_custo_frete = document.createElement('p');
                    var p_taxas_venda = document.createElement('p');
                    var p_vendas = document.createElement('p');

                    var dict_free_shipping = {
                        '1': 'Sim',
                        '0': 'Não'
                    };

                    var statusDict = {
                        "active": "Ativo",
                        "paused": "Pausado",
                        "under_review": "Em revisão"
                    };

                    var dict_listing = {
                        'gold_pro': 'Premium',
                        'gold_premium': 'Diamante',
                        'gold_special': 'Clássico',
                        'gold': 'Ouro',
                        'silver': 'Prata',
                        'bronze': 'Bronze',
                        'free': 'Gratuíto',
                    };

                    p_frete_gratis.textContent = 'Frete grátis: ' + dict_free_shipping[response.free_shipping];
                    p_liquido.textContent = 'Líquido: R$ ' + (response.sale_fee - response.shipping_free_cost - response.cost).toFixed(2).replace('.', ',');
                    p_mlb.textContent = 'MLB: ' + response.id;
                    p_titulo.textContent = 'Título: ' + response.title;
                    p_categoria.textContent = 'Categoria: ' + response.category.way + ' (' + response.category_id + ')';
                    p_status.textContent = 'Status: ' + statusDict[response.status];
                    p_preco_venda.textContent = 'Preço de venda: R$ ' + response.price;
                    p_tipo_anuncio.textContent = 'Tipo de anúncio: ' + dict_listing[response.listing_type_id];
                    p_custo_frete.textContent = 'Custo de frete: R$ ' + response.shipping_free_cost;
                    p_taxas_venda.textContent = 'Taxas de venda: R$' + response.sale_fee;
                    p_vendas.textContent = 'Vendas: ' + response.sales;


                    div_det.appendChild(p_frete_gratis);
                    div_det.appendChild(p_liquido);
                    div_det.appendChild(p_mlb);
                    div_det.appendChild(p_titulo);
                    div_det.appendChild(p_categoria);
                    div_det.appendChild(p_status);
                    div_det.appendChild(p_preco_venda);
                    div_det.appendChild(p_tipo_anuncio);
                    div_det.appendChild(p_custo_frete);
                    div_det.appendChild(p_taxas_venda);
                    div_det.appendChild(p_vendas);
                }
            }
            xhr.send();
        </script>
    </div>
    <div id="graficos" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
        <div style="padding: 10px;">
            <div class="col-auto">
                <label for="example">Período analisado</label>
                <select id="filtro_data" class="form-select" aria-label="Período analisado" onchange="dt_change()">
                    <option selected value="Última semana">Última semana</option>
                    <option value="Último mês">Último mês</option>
                    <option value="Últimos 2 meses">Últimos 2 meses</option>
                    <option value="Últimos 3 meses">Últimos 3 meses</option>
                    <option value="Personalizado">Personalizado</option>
                </select>
            </div>

            <div id="datepicker">
            </div>
        </div>

        <script>
            function dt_change() {
                var periodo = document.getElementById('filtro_data').value;

                var datepicker = document.getElementById('datepicker');

                if (periodo !== 'Personalizado') {
                    datepicker.innerHTML = ''
                    var intervalo = tempo_opcoes[periodo]['intervalo'];
                    var dias = tempo_opcoes[periodo]['dias'];

                } else {

                    
                    //var date = new Date();
                    //var today = date.toISOString().split('T')[0];
                    //var last = new Date(date.getTime() - (dias * 24 * 60 * 60 * 1000)).toISOString().split('T')[0];
                
                    datepicker.innerHTML = '<div class="md-form md-outline input-with-post-icon datepicker"><label for="example">Filtrar por data</label><input placeholder="Select date" type="date" id="example" class="form-control"></div>';
                }
            };

            tempo_opcoes = {
                "Última semana": {'dias': 7, 'intervalo': 1},
                "Último mês": {'dias': 30, 'intervalo': 10},
                "Últimos 2 meses": {'dias': 60, 'intervalo': 30},
                "Últimos 3 meses": {'dias': 90, 'intervalo': 30},
                "Personalizado": {}
            };
        </script>
    </div>
    <div id="regras" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
    </div>
    <div id="qualidade" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
    </div>
    <div id="anotacoes" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
    </div>
    <div id="historico" class="tab-pane fade active" style="width: 100%; visibility: hidden; height: 0px;">
    </div>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" onclick="window.location.href='/produtos'">Ver todos os produtos</button>
</div>

<script>
    function changeTab(event) {
        const tabs = document.querySelectorAll('.nav-link.tabgraf');
        const tabContent = document.querySelectorAll('.tab-pane');
        
        tabs.forEach(tab => {
            tab.classList.remove('active');
        });
        
        tabContent.forEach(content => {
            //content.classList.remove('active');
            content.style.height = '0';
            content.style.visibility = 'hidden';
            content.classList.remove('show');
        });
        
        event.target.classList.add('active');
        const targetTab = document.querySelector(event.target.getAttribute('data-toggle'));
        targetTab.classList.add('active');
        targetTab.classList.add('show');
        targetTab.style.height = 'auto';
        targetTab.style.visibility = 'visible';
    }
</script>

{% endblock %}