<!doctype html>
<html lang="pt_br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    {% block head %}{% endblock %}
    
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  </head>
  <body class="fundo">

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast fade showing" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="{{ url_for('static', filename='images/Logo EleveCom redondo 1000x.png') }}" class="rounded me-2" alt="logo elevecom" width="20" height="20">
          <strong id="toast_titulo" class="me-auto">Bootstrap</strong>
          <small id="toast_tempo">11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast_mensagem" class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>

    <script>
      function setCookie(name, value) {
          document.cookie = name + "=" + value;
      }

      function getCookie(name) {
          const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
          return cookieValue ? cookieValue.pop() : '';
      }

      function rodarScripts(element) {
        var scripts = element.getElementsByTagName('script');
        for (var i = 0; i < scripts.length; i++) {
          eval(scripts[i].innerHTML);
        }
      }

      function toast(titulo, mensagem, tempo) {
        var toast = document.getElementById('liveToast');
        var toast_titulo = document.getElementById('toast_titulo');
        var toast_mensagem = document.getElementById('toast_mensagem');
        var toast_tempo = document.getElementById('toast_tempo');
        toast_titulo.textContent = titulo;
        toast_mensagem.textContent = mensagem;
        toast_tempo.textContent = tempo;
        
        toast.classList.add('show');
        setTimeout(function() {
          toast.classList.remove('showing');
        }, 100);
        // esperar 5 segundos
        setTimeout(function() {
          toast.classList.add('showing');
          setTimeout(function() {
            toast.classList.remove('show');
          }, 100);
        }, 5000);
      }

      // Check if the 'prefs' cookie exists
      if (getCookie('prefs')) {
        // Cookie exists, do something
        console.log('Cookie exists');
      } else {

        var token = getCookie('token');

        var xhr2 = new XMLHttpRequest();
        xhr2.open("GET", "{{ base_url }}/api/v1/usuario/preferences", true);
        xhr2.setRequestHeader("x-access-token", token);
        xhr2.onreadystatechange = function() {
          if (xhr2.readyState === 4) {
            if (xhr2.status === 200) {
              // Requisição bem sucedida
              //console.error(xhr.responseText);
              var responseJson = JSON.parse(xhr2.responseText); // Parse the response as JSON
              var prefs = JSON.stringify(responseJson.result); // Save the JSON as a string
              setCookie('prefs', prefs);
            } else {
              // Ocorreu um erro na requisição
              console.error('Erro:', xhr2.status);
              // console.error(xhr.responseText);
            }
          }
        };
        xhr2.onerror = function() {
          console.error('Erro:', xhr2.statusText);
        };
        xhr2.send();
        // Cookie does not exist, do something else
      }
      </script>
      

    <div class="main" style="display: flex; flex-direction: column; height: 100vh;">
      <div class="d-flex flex-row flex-grow-1">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 97vh; position: fixed;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="{{ url_for('static', filename='images/Logo EleveCom redondo 1000x.png') }}" alt="" width="40" height="40" class="rounded-circle me-2">
            <span class="fs-4">EleveCom</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              {% if pagina == 'graficos' %}
                <a href="/graficos" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/graficos"></use></svg>
                  Gráficos
                </a>
              {% else %}
                <a href="/graficos" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/graficos"></use></svg>
                  Gráficos
                </a>
              {% endif %}
            </li>
            <li>
              {% if pagina == 'produtos' %}
                <a href="/produtos" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/produtos"></use></svg>
                  Produtos
                </a>
              {% else %}
                <a href="/produtos" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/produtos"></use></svg>
                  Produtos
                </a>
              {% endif %}
            </li>
            <li>
              {% if pagina == 'anuncios' %}
                <a href="/anuncios" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/anuncios"></use></svg>
                  Anúncios
                </a>
              {% else %}
                <a href="/anuncios" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/anuncios"></use></svg>
                  Anúncios
                </a>
              {% endif %}
            </li>
            <li>
              {% if pagina == 'analise_mercado' %}
                <a href="/analise_mercado" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/analise_mercado"></use></svg>
                  Análise de mercado
                </a>
              {% else %}
                <a href="/analise_mercado" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/analise_mercado"></use></svg>
                  Análise de mercado
                </a>
              {% endif %}
            </li>
            <li>
              {% if pagina == 'conta' %}
                <a href="/conta" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/conta"></use></svg>
                  Conta
                </a>
              {% else %}
                <a href="/conta" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/conta"></use></svg>
                  Conta
                </a>
              {% endif %}
            </li>
            <li>
              {% if pagina == 'administracao' %}
                <a href="/administracao" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/administracao"></use></svg>
                  Administração
                </a>
              {% else %}
                <a href="/administracao" class="nav-link disabled">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/administracao"></use></svg>
                  Administração
                </a>
              {% endif %}
            </li>
            <li>
              <a href="/" class="nav-link text-white" onclick="setCookie('token', 'aaa')">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/sair"></use></svg>
                Sair
              </a>
            </li>
          </ul>
          <hr>
          <div>
            <img src="{{ url_for('static', filename='images/Logo EleveCom redondo 1000x.png') }}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Conta</strong>
          </div>
        </div>

        <div style="width: 280px; min-width: 280px; max-width: 280px;"></div>
        <div class="flex-grow-1" style="padding: 10px;">
          {% block body %}{% endblock %}
        </div>
      </div>

      <div id="aviso-dev" style="height: 3vh; position: fixed; margin-top: 97vh; background-color: yellow; width: 100%; display: flex; justify-content: center; align-items: center;">
        <div>
          <strong>Essa plataforma está em fase de desenvolvimento com teste grátis, erros e quedas poderão ocorrer durante seu uso!</strong>
        </div>
      </div>

    </div>

  </body>
</html>